	<div id="box" class="container center">


		
		<img src="1482269208_Santa_Claus.png">
		<div class="carte"> 2017 année 

			<span class="foo">{{adjectif00}}</span> . Les <span class="foo">{{adjectif01}}</span> de mon cours en ligne vous 
			<span class="foo">{{adjectif02}}</span>  leurs <span class="foo">{{adjectif03}}</span>  voeux pour   une année 2017 <span class="foo">{{adjectifPrime0}}</span> et <span class="foo">{{adjectif04}}</span>  fêtes  !!!
			
			
		</div>
		<br/>
		<br/>


		<!--<marquee class="carte"> Joyeuses fêtes</marquee>-->

		<a (click)="reload()" class="waves-effect waves-light waves-effect waves-light btn">Secouez la boule à neige</a>

		    <div class="row">

      <div class="col s4">
        <!-- Promo Content 1 goes here -->
        <img width="50%" src="https://cdn.pixabay.com/photo/2013/07/13/13/21/reindeer-160879_960_720.png">
      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
        <img width="50%" src="https://cdn.pixabay.com/photo/2013/07/13/13/21/reindeer-160870_960_720.png">
      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
        <img width="50%" src="https://cdn.pixabay.com/photo/2013/07/13/13/21/reindeer-160878_960_720.png">
      </div>

    </div>
	</div>